#socialIcons {
  margin-top: 1rem;
}

#socialIcons [class^="icon"] {
  font-size: 1.5rem;
}

#socialIcons a {
  color: inherit;
  text-decoration: none;
}

#socialIcons .icon:hover {
  color: var(--color-accent);
}