#my-work {
    flex: 1;
}

#projects {
    display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(375px, 1fr));
	margin: auto;
}
.project {
  background-color: black;
  border-radius: 1.25rem;
  height: 100%;
}

&::after {
    content: counter(item);
}
