.project {
	position: relative;
}

.project .image {
    width:100%;
    /* vertical-align:top; */
}

.detail {
	color: white;
	background-color: var(--color-dark);
	height: calc(100% - 6px); /* parent is a bit taller than images, subtract 6px to match */
	font-size: 20px;
	width: 100%;
	margin: 0;
}

.detail .inner {
	padding: 20px;
}

/* h3 was pushing detail div down, correct for that */
.detail h3 {
	margin-top: 0;
	/* padding-top: 1rem; */
}
