#main {
  align-items: center;
  background-color: pink;
  display: inherit; /* flex */
  flex: 1; /* element will stretch */
  justify-content: center; 
  margin: 0 auto;
  width: calc(100% - 2rem);
}