nav {
  padding: .5rem 0;
	background-color: var(--color-foreground);
}

nav [class^="icon"] {
  font-size: 1.5rem;
}

nav a {
  color: var(--color-background);
  text-decoration: none;
}

nav a:hover {
  opacity: .6;
}
