.project {
  border-radius: 1rem;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  padding-top: 100%; /* to ensure content is centered and this element is square */
  font-size: 16px;
  position: relative;
  text-align: left;
}

.project a {
  color: white;
}

.project h3 {
  margin-bottom: 0;
}

.project p {
  margin: .7rem 0 0 0;
}

.project-image {
   max-width: 100%;
   max-height: 100%;
   border-radius: 1rem;
}

.project .text, .project .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
}

.project .text {
  color: white;
  left: .7rem;
  height: 100%;
  width: calc(100% - 1.4rem); 
}

.project .image {
  border-radius: 1rem;
}

@media only screen and (min-width:500px) {
  .project {
    font-size: 21px;
  }
}